$ancho-movil: 768px

.cuadro
	position: fixed
	overflow-y: auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.8)
	z-index: 1
	display: grid
	justify-items: center
	align-items: center


.contenedor
	position: relative
	height: 90vh
	width: 90vw
	max-width: 90vw
	margin: 0
	padding: 80px 1rem 40px
	display: grid
	align-items: center

	@media (min-width: $ancho-movil)
		width: 80vw
		height: auto
		margin: 4rem
		max-width: 960px
		padding: 1.6rem
		background-color: rgba(112,112,112,0.4)
		border-radius: 0px 0px 40px 40px

.contenido
	width: 100%
	display: grid
	grid-gap: 1rem
	align-content: start
	background: rgba(255, 255, 255, 0.8)
	border-radius: 20px
	padding: 2.5rem 1rem 2rem
	margin: auto
	position: relative

	&::before
		content: ""
		display: block
		width: 192px
		max-width: 80%
		height: 8px
		border-radius: 8px
		background: #EFA50D
		position: absolute
		top: 1.2rem
		left: 0
		right: 0
		margin: 0 auto


	@media (min-width: $ancho-movil)
		height: 100%

.cerrar
	position: absolute
	top: 0
	right: 0
	// transform: translateY(-100%)

	@media (min-width: $ancho-movil)
		transform: translate(50%, -50%)
