.container{
  width: 700px;
  height: 400px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  position: relative;
  border-bottom-right-radius: 50px;
  justify-content: center;
  align-items: center;
  padding:25px;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
  justify-content:  space-around;
  align-items: center;
}
.closeButton{
  background-image: url(/img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -15px;
  top:-15px;
  cursor: pointer;
}
.containerNivel{
  width: 250px;
  height: 160px;
  background: #eb01a5;
  background-image: url("/img/bg_lineas.png");
  background-image: url("/img/bg_lineas.png"), linear-gradient(90deg, rgba(85,165,206,1) 0%, rgba(35,72,152,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.containerNivel img{
  width: 50%;
  margin: 0 auto;
}
.iconCandadoOpen{
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  background-image: url('/img/ico_candado_open.svg');
  background-size: contain;
}
.iconCandadoClose{
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  background-image: url('/img/ico_candado_close.svg');
  background-size: contain;
}
