.container {
	width: 100%;
	max-width: 320px;
	background: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}

.barra {
	background-color: #EFA50D;
	width: 80%;
	height: 7px;
	border-radius: 10px;
}

.container input {
	webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #666;
	color: #000;
	width: 100%;
	height: 34px;
	padding-left: 20px;
	margin-top: 2px;
}

.container input[type=text]:focus {
	outline: none;
	border: 1px solid #666;
	color: #000;

}

.boton {
	background-color: black;
	color: white;
	width: 100%;
	webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 40px;
	outline: none;
	border: none;
	margin-top: 20px;
	font-weight: 400;
}

.container h1 {
	color: black;
	font-size: 17px;
	line-height: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	padding-top: 0px;
	background-color: transparent
}

.frm_control {
	margin-top: 10px;
	background-color: transparent;
	text-align: left;
}


input.error {
	border: 1px solid #F33;
	background-color: #F99;
}
