$ancho-movil: 768px


.titulo
	font-size: 30px
	line-height: 33px
	font-weight: 600
	margin-bottom: 10px
	@media (max-width: $ancho-movil)
		text-align: center
.facultad
	line-height: 18px
	font-size: 18px
	@media (max-width: $ancho-movil)
		text-align: center
		color: white
		font-size: 22px
		margin-bottom: 10px
.disclaimer
	background-color: transparent
	text-align: center
	font-size: 15px
	@media (max-width: $ancho-movil)
		font-size: 12px

.contenedor ul
	background-color: transparent
	@media (max-width: $ancho-movil)
			padding-left: 10px
.contenedor ul li
	background-color: transparent
	font-weight: 600
	margin-bottom: 4px
	@media (max-width: $ancho-movil)
		font-size: 13px


.contenedor hr
	border-width: 1px
	height: 1px
	color: red
	background-color: black
	margin-top: 0px
	padding-top: 0px
	@media (max-width: $ancho-movil)
		display: none

.cuadro
	position: fixed
	overflow-y: auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.5)
	z-index: 1
	//display: grid
	//justify-items: center
	//align-items: center
	display: flex
	align-items: center
	justify-content: center

.contenedor
	position: relative
	height: 90vh
	width: 90vw
	max-width: 90vw
	margin: 0
	padding: 0px
	display: grid
	align-items: center
	background-color: transparent

	@media (min-width: $ancho-movil)
		width: 80vw
		height: auto
		margin: 4rem
		max-width: 960px
		padding: 0rem
		background-color: transparent
		border-radius: 0px 0px 40px 40px

.contenido
	width: 100%

	align-content: start
	background: #FDBA30
	border-radius: 20px
	padding: 2.5rem 2rem 2rem
	margin: auto
	position: relative
	@media (max-width: $ancho-movil)
		&::before
			content: ""
			display: block
			width: 192px
			max-width: 80%
			height: 8px
			border-radius: 8px
			background: #EFA50D
			position: absolute
			top: 1.2rem
			left: 0
			right: 0
			margin: 0 auto
	@media (min-width: $ancho-movil)
		height: 100%

.cerrar
	position: absolute
	top: 0
	@media (max-width: $ancho-movil)
		top:-25px
		right:-15px
		z-index: 11
	right: 0
	z-index: 10
	// transform: translateY(-100%)

	@media (min-width: $ancho-movil)
		transform: translate(50%, -50%)


.cerrar:hover
	svg
		circle
			fill: #FDBA30
			transition: all 250ms
		rect
			fill: black
			transition: all 250ms
