.container{
  width: 700px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.closeButton{
  background-image: url(/img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -15px;
  top:-15px;
  cursor: pointer;
}
.razones{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.razones img{
  width: 80%;

}
.separador{
  height: 60%;
  width: 1px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
}
.texto{
  flex: 1;
  color:white;
  font-size: 15px;
}
.video{
  width: 100%;
  height: 300px;
  background-color: black;
}

.popDescriptionCol{
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  width: 100%;
}
.popDescription{
  display: flex;
  padding: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  width: 100%;
}
.popDescription .l1{
  background-color: transparent;
  flex: 1;
}
.popDescription .l1 h1{
  font-weight: 600;
  font-size: 22px;
}
.popDescription .l2{
  background-color: transparent;
  display: flex;

}
.popDescription .l3 hr{
  margin-top: 0px;
  margin-bottom: 20px;
}
.popDescription .l3{
  background-color: transparent;
  flex: 1;
  font-size: 12px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.popDescription .l3 ul li{
  margin-bottom: 10px;
  font-size: 13px;
}
.popDescription .l3 ul{
  margin-bottom: 20px;
}
.thumbnail{
  width: 120px;
  background-color: transparent;
  margin-left: 20px;
  text-align: center;
  font-size: 13px;
}
.thumbnail .image{
  width: 100%;
  height: 65px;
  background-color: #000;
}
