.container{
  width: 700px;
  height: 400px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  position: relative;
  border-bottom-right-radius: 50px;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}
.closeButton{
  background-image: url(/img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -15px;
  top:-15px;
  cursor: pointer;
}
.razones{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.razones img{
  width: 80%;

}
.separador{
  height: 60%;
  width: 1px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
}
.texto{
  flex: 1;
  color:white;
  font-size: 15px;
}
