$ancho-movil: 768px

.contenedor
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.9)
	z-index: 1
	//display: grid
	//justify-items: center
	//align-items: center
	display: flex
	align-items: center
	justify-content: center
	padding: 1rem

	/**
		outline: 1px solid red*/

.contenido
	width: 90vw
	height: auto

	svg
		width: 100%
		height: 100%
		outline: 1px solid green

.cerrar
	position: absolute
	width: 40px
	top: 1rem
	right: 1rem


.txt
		color: white
		@media (max-width: $ancho-movil)
			font-size: 10px

.texto
	flex: 1
	font-size: 15px
	background-color: transparent
	justify-content: center
	align-items: center
	text-align: center
	max-width: 800px
	margin: 0 auto

.texto_acumula
	background-color: transparent
	max-width: 600px
	margin: 0 auto
	color: white
	margin-bottom: 20px
	font-size: 20px
	line-height: 24px
	@media (max-width: $ancho-movil)
			font-size: 17px
			line-height: 22px
			margin-bottom: 15px

.texto_premios
	font-size: 19px
	line-height: 23px
	font-weight: 600
	color: white
	@media (max-width: $ancho-movil)
		font-size: 17px
		line-height: 20px

.texto ul
	list-style-type: circle
	padding-left: 20px
	margin-top: 20px
	list-style-type: square
	list-style-position: outside
	list-style-image: url(/img/circle.svg)
	background-color: transparent
	max-width: 500px
	margin: 0 auto
	margin-top: 20px
	margin-bottom: 20px
	@media (max-width: $ancho-movil)
		font-size: 12px

.texto ul li
	width: 100%
	display: flex
	justify-content: space-between
	margin-bottom: 5px
	@media (max-width: $ancho-movil)
		margin-bottom: 0px
	padding-right: 20px

.texto ul li .label
	display: flex
	align-items: center
	color: white

.texto ul li .circulo
	width: 10px
	height: 10px
	background-size: center center
	background-repeat: no-repeat
	background-image: url(/img/circle.svg)
	margin-right: 15px

.puntaje
	font-weight: 600
	color: #FDBA30

.topText
	text-align: center
	font-size: 24px
	line-height: 30px
	color: #FDBA30
	font-weight: 600
	@media (max-width: $ancho-movil)
		font-size: 15px
		line-height: 22px
		padding-left: 10px
		padding-right: 10px
		padding-top: 0px

.texto hr
	color: red
	background-color: #FDBA30

.fecha_sorteo
		font-size: 20px
		@media (max-width: $ancho-movil)
			font-size: 15px
		color: white
