$ancho-movil: 768px

.cuadro
	position: fixed
	overflow-y: auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.6)
	z-index: 1
	//display: grid
	//justify-items: center
	//align-items: center
	display: flex
	align-items: center
	justify-content: center

.contenedor
	position: relative
	height: 90vh
	width: 95vw
	max-width: 95vw
	margin: 0
	padding: 2.5rem 0
	display: grid
	align-items: center

	@media (min-width: $ancho-movil)
		width: 80vw
		height: auto
		margin: 4rem
		max-width: 960px
		padding: 0
		background-color: rgba(112,112,112,0.4)

.contenido
	width: 100%
	display: flex
	padding: 0rem
	padding-left: 20px
	padding-right: 20px
	flex-direction: column
	align-items: center
	position: relative

	// margin: auto
	// position: relative
	@media (min-width: $ancho-movil)
		flex-direction: row
		align-items: center
		padding: 1.5rem
		background: #FDBA30
		border-radius: 8px

	// 	&::before
	// 		content: ""
	// 		display: block
	// 		width: 192px
	// 		max-width: 80%
	// 		height: 8px
	// 		border-radius: 8px
	// 		background: #EFA50D
	// 		position: absolute
	// 		top: 1.2rem
	// 		left: 0
	// 		right: 0
	// 		margin: 0 auto

	// @media (min-width: $ancho-movil)
	// 	height: 100%

	&.jugando
		padding: 1.5rem


.juego
	width: 100%
	position: relative
	padding: 1.5rem
	margin: 0
	background: #FDBA30
	border-radius: 8px
	@media (max-width: 1000px)
		// height: 400px
	@media (min-width: $ancho-movil)
		padding: 0

	&::before
		content: ""
		position: static
		display: block
		width: 100%
		padding-top: 55%


	// 860 x 480
	iframe
		width: calc(100% - 3rem)
		height: calc(100% - 3rem)
		// height: 482px
		// height: 100%
		border: none
		position: absolute
		top: 1.5rem
		left: 1.5rem
		right: 1.5rem
		bottom: 1.5rem
		// margin: 1.5rem
		@media (min-width: $ancho-movil)
			width: 100%
			height: 100%
			top: 0
			left: 0
			right: 0
			bottom: 0
			// height: 352px


.cerrar
	position: absolute
	top: -25px
	@media (max-width: $ancho-movil)
		top:-25px
		right:10px
		width: 50px
		z-index: 11
	right: -25px
	z-index: 1
	// transform: translateY(-100%)

	@media (min-width: $ancho-movil)
		//transform: translate(50%, -50%)

.cerrar:hover
	svg
		circle
			fill: #FDBA30
			transition: all 250ms
		rect
			fill: black
			transition: all 250ms


.razones
	flex: 1 0 50%
	display: flex
	justify-content: flex-end
	margin: 0 0 0rem


	@media (min-width: $ancho-movil)
		flex: 1 0 auto

	img
		width: 80%

		@media (max-width: $ancho-movil)
			width: auto
			margin: 0 auto
			display: block
			margin-top: 0px
			margin-bottom: 30px

		@media (min-width: $ancho-movil)
			margin: 0 auto
			filter: brightness(0)

.separador
	height: 100%
	width: 1px
	margin-left: 40px
	margin-right: 40px
	background-color: white
	@media (max-width: $ancho-movil)
		display: none

.texto
	flex: 1 0 50%
	color: white
	font-size: 15px
	border-radius: 20px
	background: #fdba30
	padding: 0
	display: flex
	flex-direction: column
	justify-content: space-between
	position: relative

	@media (max-width: $ancho-movil)
		min-height: 200px
		padding: 1rem 2.5rem
		&::before
			content: ""
			display: block
			width: 192px
			max-width: 80%
			height: 8px
			border-radius: 8px
			background: #EFA50D
			// position: absolute
			// top: 1.2rem
			// left: 0
			// right: 0
			margin: .5rem auto


	@media (min-width: $ancho-movil)
		align-items: center
		border-radius: 0
		border-left: 1px solid black

.texto
	.black_space
		padding: 25px
		font-size: 14px
		line-height: 17px
		//background-color: tra
		@media (max-width: $ancho-movil)
			padding: 0px
			font-size: 12px
			line-height: 14px
			text-align: centers

.texto
	.black_space
		min-height: 200px
		@media (max-width: $ancho-movil)
			min-height: auto
