.container {
  width: 250px;
  background-color: rgba(0,0,0,0.9);
  display: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 0px;
  bottom:0px;
  right: 0px;
  left: 0px;
  width: 100%;

}
.container ul{
	padding-left: 0px;
	margin-left: 0px;
	margin-left: 20px;
}
.container ul li{
	color: #FDBA30;
	text-align: left;
	font-size: 50px;
	font-weight: 200;
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}

.lcontainer{
	color: white;
	text-align: right;
	padding-right:20px;
	border-right-style: solid;
	border-right-color: #FDBA30;
	border-right-width: 1px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 20px;
}

.lcontainer .lbl_white{
	font-size: 12px;
	line-height: 12px;
}

.lcontainer .lbl_yellow{
	color: #FDBA30;
	font-size: 18px;
	font-weight: 700;
}


.facultades_container{
	width: 80px;
	height: 320px;
	background-color: transparent;
}
.facultades{
	color: rgba(255,255,255,0.5);
	transform: rotate(-90deg);
	font-size: 50px;
	line-height: 120px;
	font-weight: 200;
	background-color: transparent;
	transform-origin: 0 0;
	margin-top: 310px;
	position: relative;
}
.fb_ico{
	margin-top: 10px;
}
.ig_ico{
	margin-top: 10px;
}
.lbl_politicas{
	margin-top: 10px;
	color: rgba(255,255,255,0.5);
}
