.container{
  width: 700px;
  height: 400px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  position: relative;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
.closeButton{
  background-image: url(/img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -5px;
  top:-5px;
  cursor: pointer;
}
.texto{
  flex: 1;
  color:white;
  font-size: 15px;
  background-color: transparent;
}
.texto ul{
  list-style-type: circle;
  padding-left: 20px;
  margin-top: 20px;
  list-style-type: square;
  list-style-position: outside;
  list-style-image: url(/img/circle.svg);
}
.texto ul li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-right: 20px;
}
.texto ul li .label{
  display: flex;
  align-items: center;
}
.texto ul li .circulo{
  width: 10px;
  height: 10px;
  background-size: center center;
  background-repeat: no-repeat;
  background-image: url(/img/circle.svg);
  margin-right: 15px;
}
.puntaje{
  font-weight: bold;
  color: #FDBA30;
}
.topText{
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
