
$ancho-movil: 768px
.panorama
	display: block
	width: 100vw
	height: 100vh
	overflow: auto
	margin: 0
	scroll-behavior: smooth
	//cursor: move

	svg
		width: 100%
		height: auto
		&.vertical
			width: auto
			height: 100%

		rect,
		text
			transition: all 250ms

		.punto

			line
				stroke: inherit

			circle
				// stroke: black
				fill: rgba(0,0,0,0.1)

				&:last-child
					fill: inherit
					stroke: rgb(253,186,48)

	img
		display: block
		max-width: none
		width: auto
		height: 100%

.facultades
	display: block
	max-width: none
	width: auto
	height: 100%

.circulos
	transition: all 250ms
	cursor: pointer
	stroke: rgb(253,186,48)
	fill: rgb(253,186,48)


.marcador
	cursor: pointer
	pointer-events: all

	&.hover
		rect
			fill: black
		text
			fill: rgb(253,186,48)

		.circulos
			stroke: black

.flecha
	position: absolute
	width: 50px
	top: 60%
	margin-top: -30px
	@media (min-width: $ancho-movil)
		display: none

	&.izquierda
		left: 12px
	&.derecha
		right: 12px

	svg
		width: 100%
