
$ancho-movil: 768px

.pagina
	justify-items: stretch
	padding: 0 1rem
	align-items: center

	> *
		// outline: 1px solid fuchsia


.contenedor
	max-width: 90vw
	margin: 0 auto

	@media (min-width: $ancho-movil)
		max-width: 1024px

	:global(.carousel-indicators)
		z-index: 0
		// outline: 1px solid red
		margin: 0
		margin: 0

		li
			height: 15px
			width: 15px
			margin: 0 10px
			border: none
			border-radius: 15px
			background-color: #C4C4C4

	:global(.carousel-indicators .active)
		background-color: #FDBA30

.carrusel
	padding-bottom: 2rem
	@media (min-width: $ancho-movil)
		padding-bottom: 4rem

.item
	color: white
	text-align: center
	@media (min-width: $ancho-movil)
		max-width: 1024px

.texto
	width: 100%
	border-top: 1px solid #FDBA30
	border-bottom: 1px solid #FDBA30
	padding: 1rem
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	min-height: 60vh

	@media (min-width: $ancho-movil)
		padding: 1rem 2rem
		justify-content: center
		max-width: 1024px
		min-height: 560px

	h1
		color: #FDBA30
		font-weight: normal
		padding-bottom: .5em
		font-size: 20px

		@media (min-width: $ancho-movil)
			font-size: 30px

	p
		font-weight: normal
		padding-bottom: .5em
		font-size: 14px

		@media (min-width: $ancho-movil)
			font-size: 20px
			line-height: 1.5

	h2
		font-weight: bold
		padding-bottom: .5em
		font-size: 20px

		@media (min-width: $ancho-movil)
			font-size: 30px
			line-height: 1.35

		em
			color: #FF0000
			font-style: normal
			font-weight: bold

		strong
			color: #0F901C
			font-style: normal
			font-weight: bold

	h3
		font-weight: normal
		padding-bottom: .5em
		font-size: 20px

		strong
			color: #FDBA30

		@media (min-width: $ancho-movil)
			font-size: 32px
			line-height: 54px

	small
		font-weight: normal
		font-size: 13px
		@media (min-width: $ancho-movil)
			font-size: 18px

	ul
		width: 75%
		min-width: 300px

		// align-self: stretch
		font-weight: normal
		font-size: 12px
		padding-left: 1rem
		position: relative
		margin: 1rem 0
		@media (min-width: $ancho-movil)
			width: 580px
			font-size: 18px

		li
			display: flex
			position: relative
			justify-content: space-between

			&::before
				content: ""
				display: block
				width: 6px
				height: 6px
				background-color: white
				position: absolute
				top: 50%
				left: -1rem
				margin-top: -3px
				border-radius: 3px

				@media (min-width: $ancho-movil)
					left: -2rem
					width: 10px
					height: 10px
					margin-top: -5px
					border-radius: 5px

			span
				text-align: left

			strong
				color: #FDBA30
				margin-left: .5em


.botones
	display: flex
	justify-content: center
	padding: 1rem
	position: relative
	z-index: 1

	@media (min-width: $ancho-movil)
		padding: 0rem
		justify-content: flex-end
		// padding: 1.5rem 0 0

.siguiente
	background-color: yellow
	display: block
	font-weight: bold
	font-size: 12px
	padding: .75em 2em
	line-height: 1
	background-color: #FDBA30
	border-radius: 3rem
	color: black
	text-transform: uppercase
	transition: all 0.4s
	position: relative
	overflow: hidden

	@media (min-width: $ancho-movil)
		transform:  translateY(-100%)
		font-size: 16px
		padding: 1em 3em

	> *
		position: relative
		z-index: 1

	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: #000000
		z-index: -1
		opacity: 0
		transform: scale3d(0.5, 1, 1)
		transition: transform 0.4s, opacity 0.4s
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)

	&:hover
		color: #fff
		border-color: #000000

		&::before
			opacity: 1
			z-index: 0
			transform: translate3d(0, 0, 0)


.uso
	display: grid
	justify-content: center
	justify-items: center
	align-items: start
	grid-template-columns: auto auto
	grid-template-rows: 1fr auto
	grid-auto-flow: column
	grid-gap: 1rem
	padding: 0 1rem
	@media (max-width: $ancho-movil)
		grid-gap: 0 1.5rem
	@media (min-width: $ancho-movil)
		grid-template-columns: 1fr auto auto 1fr
		grid-template-rows: auto
		align-items: center


.parrafo
	font-weight: 300
	font-size: 9px
	line-height: 1.3
	text-align: center
	max-width: 150px
	color: white
	@media (min-width: $ancho-movil)
		font-size: 17px
		max-width: none
		&:first-of-type
			justify-self: end
			text-align: right

		&:nth-of-type(3)
			text-align: left
			grid-column: 4/5

.icono
	width: 60px
	height: 60px
	@media (max-width: $ancho-movil)
		transform: scale(0.6)

	background-color: #FDBA30
	border-radius: 30px
	display: flex
	justify-content: center
	align-items: center

	@media (min-width: $ancho-movil)
		&:nth-of-type(2)
			margin-right: 1rem

		&:nth-of-type(4)
			margin-left: 1rem
