.fondoCarrusel
	background-color: #FDBA30
	width: 100%
	height: 100%

	:global(.carousel-inner)
		width: 100%
		height: 100%

	:global(.carousel-item)
		width: 100%
		height: 100%
		figure
			background-image: url(/img/trama2.jpg)
		&:nth-child(2)
			figure
				background-image: url(/img/trama1.jpg)

	figure
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0

		display: block
		margin: 0
		padding: 0
		// width: 100vw
		// min-height: 100vh
		height: 100%
		display: block
		// background-image: url(/img/trama1.jpg)
		// background: green


	img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: block
		width: 100%
		height: 100%
		-o-object-fit: cover
		object-fit: cover
		object-position: center top
		opacity: 1

	figcaption
		position: absolute
		bottom: 7rem
		right: 0
		left: 0
		margin: 0 14px
		background: rgba(253, 186, 48, 0.9)
		border-radius: 320px
		padding: 1rem 2rem

		p
			margin-block-end: 0.2em
			line-height: 1.2
			color: black
			font-size: 16px
			text-align: center


		em
			color: #FF0000
			font-style: normal
			font-weight: bold

		strong
			color: #0F901C
			font-style: normal
			font-weight: bold

.logo
	max-width: 185px
	margin: 28px 1rem
	transition: all 250ms

$ancho-movil: 768px
@media (min-width: $ancho-movil)
	.fondoCarrusel
		figcaption
			display: block
			position: absolute
			left: auto
			right: 1rem
			bottom: 1rem
			max-width: 720px
			text-align: right
			margin: 0
			background: none
			border-radius: 320px
			padding: 0 32px


			p
				margin-block-end: 0.2em
				line-height: 1.2
				color: black
				text-align: right
				&:nth-child(1)
					font-weight: 500
					font-size: 35px
					font-size: clamp(1rem, 4vh, 45px)
					span
						display: block
						font-weight: bold
						font-size: 60px
						font-size: clamp(1.5rem, 6vh, 72px)
				&:nth-child(2)
					font-weight: 500
					font-size: 30px
					font-size: clamp(1rem, 4vh, 40px)
					line-height: 100%
					color: #404041


			em
				color: #FF0000
				font-style: normal
				font-weight: bold

			strong
				color: #0F901C
				font-style: normal
				font-weight: bold

		img
			// object-fit: contain
			object-position: left bottom

	.logo
		max-width: 280px
		margin: 28px 1rem -3rem


$alto-bajo: 600px

$alto-medio: 800px
$ancho-medio: 960px

@media (min-width: $ancho-movil) and (max-height: $alto-medio)
	.logo
		max-width: 240px
		margin: 28px 1rem -3rem 25%


@media (min-width: $ancho-medio) and (max-height: $alto-medio)
	.fondoCarrusel
		figcaption
			// max-width: 720px
		img
			// object-fit: contain
			// object-position: left top
	.logo
		max-width: 240px
		margin: 28px 1rem -5rem 25%
