.container{
  width: 700px;
  height: 400px;
  background: #eb01a5;
  background-image: url("/img/bg_lineas.png");
  background-image: url("/img/bg_lineas.png"), linear-gradient(90deg, rgba(85,165,206,1) 0%, rgba(35,72,152,1) 100%);
  display: flex;
  position: relative;
  border-bottom-right-radius: 50px;
  padding-right: 0px;
  flex-direction: column;
}
.container div h1{
  font-size: 20px;
  font-weight: bold;
  color: #FDBA30;
  padding-bottom: 0px;
  margin-bottom: 3px;
  margin-top: 30px;
  margin-left: 50px;
}
.container h2{
  font-size: 15px;
  color: white;
  margin-left: 50px;
}


.preguntas_container{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.pregunta_fila{
  background-color: transparent;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.closeButton{
  background-image: url(/img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -15px;
  top:-15px;
  cursor: pointer;
}
.razones{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.razones img{
  width: 80%;

}
.separador{
  height: 60%;
  width: 1px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
}
.texto{
  flex: 1;
  color:white;
  font-size: 15px;
}
.preguntas_container{

}
.pregunta{
  background-color: white;
  border-radius: 30px;
  width: 250px;
  height: 60px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.pregunta:hover{
  background-color: #FDBA30;
}
