$ancho-movil: 768px

.error
	color: red
	font-size: 13px
	margin-bottom: 5px
.citaPop
	h5
		text-align: center
		font-weight: 600
		@media (max-width: $ancho-movil)
			margin-bottom: 0px
			padding-bottom: 0px
.citaPop
		background-color: transparent
		display: flex
		flex-direction: column
		padding-left: 30px
		padding-right: 30px
		@media (max-width: $ancho-movil)
			padding-left: 10px
			padding-right: 10px
		width: 100%

.citaPop
	.label
		font-size: 13px
		@media (max-width: $ancho-movil)
			font-size: 12px
		margin-bottom: 5px
		margin-top: 5px

.citaPop
	select
		border-radius: 15px
		padding: 5px
		margin: 0px
		height: 42px
		margin-bottom: 10px
		@media (max-width: $ancho-movil)
			margin-bottom: 5px
		padding-left: 15px
		padding-right: 15px
		font-size: 14px
		&:focus
			outline: none
.citaPop
	input
		background-color: white
		height: 42px
		padding: 5px
		border-radius: 15px
		margin-bottom: 10px
		@media (max-width: $ancho-movil)
			margin-bottom: 5px
		padding-left: 15px
		padding-right: 15px
		font-size: 14px
		border-width: 1px
		width: 100%
		&:focus
			outline: none


.button
	background-color: black
	color: #FDBA30
	border-radius: 15px
	padding: 5px
	width: 170px
	height: 42px
	font-size: 13px
	margin-top: 5px
	transition: all 150ms
	&:hover
		background-color: #FDBA30
		color: black


.contentTexto
	background-color: transparent
	flex: 1
	.texto
		color: black
		@media (max-width: $ancho-movil)
				color: white
				font-size: 12px
				line-height: 15px
				margin-top: 5px
		background-color: transparent
		max-width: 300px
		font-size: 15px
		margin: 0 auto


.cuadro
	position: fixed
	overflow-y: auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.8)
	z-index: 1
	//display: grid
	//justify-items: center
	//align-items: center
	display: flex
	align-items: center
	justify-content: center


.contenedor
	position: relative
	max-width: 90vw
	margin: 0
	padding: 80px 1rem 40px
	display: flex
	align-items: center

	@media (min-width: $ancho-movil)
		width: 80vw
		height: auto
		margin: 4rem
		max-width: 960px
		padding: 1.6rem
		background-color: #FDBA30
		border-radius: 0px 0px 40px 40px

	@media (max-width: $ancho-movil)
		.contenido
			background-color: rgba(255,255,255,0.8)
		flex-direction: column
		.separador
			display: none
		.texto
			text-align: center
			margin-bottom: 20px
		.citaPop
			text-align: center
		.button
			margin: 0 auto
			width: 100%

.contenido
	width: 100%
	max-width: 400px
	@media (max-width: $ancho-movil)
		max-width: 100%
	display: flex
	background: white
	border-radius: 20px
	padding: 2.5rem 1rem 2rem
	@media (max-width: $ancho-movil)
		padding: 2rem 1rem 2rem
	margin: auto
	position: relative
	flex: 1
	&::before
		content: ""
		display: block
		width: 192px
		max-width: 80%
		height: 8px
		border-radius: 8px
		background: #EFA50D
		position: absolute
		top: 1.2rem
		left: 0
		right: 0
		margin: 0 auto


	@media (min-width: $ancho-movil)
		height: 100%

.cerrar
	position: absolute
	top:-25px
	right:-25px
	@media (max-width: $ancho-movil)
		top:25px
		z-index: 11

.cerrar:hover
	svg
		circle
			fill: #FDBA30
			transition: all 250ms
		rect
			fill: black
			transition: all 250ms


.separador
	height: 200px
	width: 1px
	margin-left: 40px
	margin-right: 40px
	background-color: white
