$ancho-movil: 768px

.pagina
	// grid-template-rows: auto 1fr
	justify-items: center
	justify-content: center
	align-items: start
	align-content: center
	grid-template-areas: "header menu" "main main" "footer footer" "submenu submenu"
	grid-template-rows: auto 1fr auto auto
	grid-template-columns: 1fr 1fr
	padding: 1rem

	@media (min-width: $ancho-movil)
		grid-template-areas: "header . menu" "main main main" "submenu footer footer"
		grid-template-rows: auto 1fr auto
		grid-template-columns: auto 1fr auto
		justify-items: start
		justify-content: space-between
		align-items: start
		align-content: space-between
		padding: 40px

	> *
		// outline: 1px solid red

.header
	justify-self: start
	position: relative
	grid-area: header
	z-index: 1

.botonMenu
	justify-self: end
	grid-area: menu
	position: relative
	z-index: 1

	button
		transition: all 150ms
		border-radius: 100%
		&:hover
			transform: scale(1.1)
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)

.botonWhatsapp
	margin: 1rem auto
	background-color: #FDBA30// #128C7E
	display: block
	width: 45px
	height: 45px
	border-radius: 100%

	text-align: center

	img
		margin: 0 auto
		width: 24px

.menu
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 2

.main
	// display: none
	// position: relative
	// grid-column: 1/2
	// grid-row: 1/4

	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 0

	@media (min-width: $ancho-movil)
		// grid-column: 1/4
		// grid-row: 1/4

.footer
	position: relative
	grid-area: footer
	z-index: 1

	@media (min-width: $ancho-movil)
		align-self: end
		justify-self: end


.submenu
	grid-area: submenu
	position: relative
	z-index: 1
	justify-self: stretch

	@media (min-width: $ancho-movil)
		justify-self: start
		align-self: end
