$ancho-movil: 768px

@media (max-width: $ancho-movil)
	.desktop
		display: none

.mobile
	display: none
	@media (max-width: $ancho-movil)
		display: flex


.instrucciones
	display: grid
	justify-content: center
	justify-items: center
	align-items: start
	grid-template-columns: auto auto
	grid-template-rows: 1fr auto
	grid-auto-flow: column
	grid-gap: 1rem
	@media (max-width: $ancho-movil)
		grid-gap: 0
	@media (min-width: $ancho-movil)
		grid-template-columns: 1fr auto auto 1fr
		grid-template-rows: auto
		align-items: center



.instructivo
	color: white
	display: flex
	@media (max-width: $ancho-movil)
		flex-direction: column
		align-items: center
	max-width: 250px
	margin-top: 10px

.texto
	font-weight: 300
	font-size: 10px
	line-height: 1.3
	text-align: center
	max-width: 150px
	color: white
	padding-left: 10px
	@media (min-width: $ancho-movil)
		font-size: 17px
		max-width: none
		&:first-of-type
			justify-self: end
			text-align: right

		&:nth-of-type(3)
			text-align: left
			grid-column: 4/5

.separador
	width: 20px
	height: 20px
	@media (max-width: $ancho-movil)
		display: none

.icono
	width: 60px
	height: 60px
	@media (max-width: $ancho-movil)
		transform: scale(0.6)

	background-color: #FDBA30
	border-radius: 30px
	display: flex
	justify-content: center
	align-items: center
	@media (max-width: $ancho-movil)


.ico_plus
	background-color: #FDBA30
	border-radius: 20px
	display: flex
	justify-content: center
	align-items: center
	margin-left: 10px
.ico_plus svg
	width: 20px

.bienvenido
	color: #EFA50D
	background-color: transparent
	text-align: center
	font-size: 30px
	@media (max-width: $ancho-movil)
		font-size:22px
	line-height: 1.2
	font-weight: 600

.conoce_mas
	color:#fff
	text-align: center
	@media (max-width: $ancho-movil)
			font-size:13px

.cuadro
	position: fixed
	overflow-y: auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.8)
	z-index: 1
	display: grid
	justify-items: center
	align-items: center


.contenedor
	position: relative
	height: 95vh
	width: 100%
	max-width: 100vw
	margin: 0 1rem
	padding: 80px 1rem 40px
	display: grid
	grid-gap: 1rem
	align-items: center
	align-content: center



	@media (min-width: $ancho-movil)
		height: 85vh
		width: 80vw
		height: auto
		margin: 4rem
		max-width: 960px
		padding: 1.6rem
		// background-color: rgba(112,112,112,0.4)
		border-radius: 0px 0px 40px 40px

.contenido
	width: 100%
	display: grid
	grid-gap: 1rem
	align-content: start
	background: rgba(255, 255, 255, 0.8)
	border-radius: 20px
	padding: 2.5rem 1rem 2rem
	margin: auto
	position: relative
	grid-template-areas: "titulo" "texto" "video" "boton"

	&::before
		content: ""
		display: block
		width: 192px
		max-width: 80%
		height: 8px
		border-radius: 8px
		background: #EFA50D
		position: absolute
		top: 1.2rem
		left: 0
		right: 0
		margin: 0 auto


	@media (min-width: $ancho-movil)
		height: 100%

.cerrar
	// transform: translateY(-100%)
	@media (min-width: $ancho-movil)
		position: absolute
		top: 8%
		right: 25px
		// transform: translate(50%, -50%)
		transform: translateX(75%)

	svg
		circle
			transition: all 250ms
		rect
			transition: all 250ms

.cerrar:hover
	svg
		circle
			fill: #FDBA30
			transition: all 350ms
		rect
			fill: black
			transition: all 350ms

.visor
	position: relative

	&::before
		content: ""
		display: block
		width: 100%
		padding-top: percentage(9/16)

.video
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: block
