@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
h1{
	/*color:red;*/
}
.ico_menu{
	width: 40px;
	height: 40px;
	background-color: #FDBA30;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 20px;
	top:20px;
}
.ico_menu img{
	width: 22px;
}

/* * {
  background-color: rgba(0, 0, 0, .1);
  outline: 1px solid rgba(255, 0, 255, .1);
}

*/

.bg-amarillo {
  background-color: #FDBA30
}

button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  line-height: 1.5;
  padding: 0;
  text-align: center;
  outline: none;
  }

  button:active,
  button:focus {
    outline: none;

}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}
