$ancho-movil: 768px
$ancho-laptop: 1181px

.cerrar_sesion
	background-color: transparent
	width: 100%
	text-align: inherit
	margin-bottom: .5rem
	font-size: 12px
	&:hover
		color: #FDBA30

.contenedor
	width: 100vw
	height: 100vh
	background-color: black
	color: white
	padding: 48px 30px
	@media (max-width: $ancho-movil)
		padding: 25px 30px
	display: grid
	overflow: hidden
	grid-gap: .5rem
	grid-template-columns: 1fr
	grid-template-rows: repeat(3, auto) 1fr auto
	grid-template-areas: "usuario" "puntaje" "titular" "principal" "secundario"
	text-align: center

	@media (min-width: $ancho-movil)
		grid-template-columns: auto 1fr
		grid-template-rows: repeat(2, auto) 1fr auto
		padding: 100px 48px
		grid-gap: 1rem 2rem
		grid-template-areas: "usuario principal" "puntaje principal" "titular principal" "secundario principal"

	span
		display: block
		font-weight: normal
		font-size: 12px
		line-height: 1.1
		text-transform: uppercase
		@media (min-width: $ancho-movil)
			font-size: 20px


	strong
		display: block
		font-weight: normal
		font-size: 24px
		line-height: 1.2
		color: #FDBA30
		text-transform: uppercase
		@media (min-width: $ancho-movil)
			font-weight: 400
			font-size: 35px

	a,
	button
		display: block
		color: white

.usuario
	grid-area: usuario
	padding: 0
	text-align: left
	justify-self: start
	@media (min-width: $ancho-movil)
		justify-self: auto
		text-align: right
		padding: 0

.puntaje
	grid-area: puntaje
	padding: 0
	border-bottom: 1px solid white
	text-align: left
	justify-self: start
	@media (min-width: $ancho-movil)
		justify-self: auto
		text-align: right
		border-bottom: none
		padding: 0

	strong
		margin-bottom: 0.5rem

	a
		font-weight: normal
		font-size: 12px
		line-height: 18px


.titular
	grid-area: titular
	padding: .5rem
	padding: 20px
	@media (max-width: $ancho-movil)
		padding-top: 5px
		padding-bottom: 5px
	span
		font-weight: 300
		font-size: 36px
		line-height: 45px


	@media (min-width: $ancho-movil)
		position: relative
		padding: 0
		display: flex
		align-items: center
		justify-content: center
		width: 4rem
		height: 4rem
		align-self: center
		justify-self: end
		transform-origin: 50% 50%
		transform: rotate(-90deg)

		span
			font-weight: 300
			font-size: 6vh
			line-height: 1
			color: rgba(255, 255, 255, 0.5)
			padding: 0
			margin: 0


.principal
	grid-area: principal
	display: flex
	flex-direction: column
	justify-content: space-between

	@media (min-width: $ancho-movil)
		text-align: left
		padding: 0 0 0 3rem
		border-left: 1px solid rgba(253, 186, 48, 0.5)

	a
		display: block
		padding: .5rem 1rem
		font-weight: 300
		font-size: 60px
		line-height: 1.1
		text-decoration: none
		color: #FDBA30

		&.activo,
		&:hover
			color: white


		@media (max-width: $ancho-laptop)
			font-size: 50px
			background-color: transparent
		@media (max-width: 850px)
			font-size: 40px
			background-color: transparent
		@media (max-width: $ancho-movil)
			padding: .5em 0
			font-size: 30px
			background-color: transparent
			padding: 0


@media (min-width: $ancho-movil) and (max-height: 800px)
	.titular
		span
			font-size: 5vh
			background-color: transparent
	//.usuario span,.puntaje span
		font-size: 20px
	//.usuario strong,.puntaje strong
		font-size: 20px
		margin-bottom: 5px

@media (min-width: $ancho-movil) and (max-height: 700px)
	.titular
		span
			font-size: 4vh
			background-color: transparent
	.principal a
		font-size: 35px

@media (min-width: $ancho-movil) and (max-height: 650px)
	.titular
		span
			font-size: 3vh


.secundario
	grid-area: secundario
	display: flex
	align-items: center
	justify-content: center
	@media (min-width: $ancho-movil)
		flex-direction: column

	a
		font-size: 12px
		line-height: 18px

	img
		width: 36px

.redes
	display: flex
	justify-content: center

	a
		padding: 1rem

.cerrar
	position: absolute
	top: 1rem
	right: 1rem

	@media (min-width: $ancho-movil)
		top: 40px
		right: 40px

	img
		width: 40px
		@media (min-width: $ancho-movil)
			width: 60px
